<!DOCTYPE html>
<html>
<head>
<title>HTML div</title>
</head>
<body>

 <form action = "/savedetails" method="post">  
       <table>  
        <tr><td>Enter IP address url and camera name :</td></tr>
        <tr><td>Enter id :</td><td><input type="text" name="id"></td></tr> 
        <tr><td>Enter Url :</td><td><input type="text" name="url_name"></td></tr>  
        <tr><td>Enter Camera Name</td><td><input type="text" name="camname"></td></tr>  
         
        
       </table>  
        <input type="submit" value="  Add">
        
    </form>  
       <br> <button id="can_btn" onclick="closeWin()">Cancel</button>


<script>
function closeWin()
{
 window.close();
}
</script>
</body>
</html>